body { margin:0; padding:0; }
label {display: block;}

#resetBt {
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 10;
    display: none;
}
#map { position:absolute; top:0; height: 90vh; width:100%; background-color: #468966} /*5FBA8B*/
#datatable_wrapper {
    position: absolute;
    top: 95vh;
    clear: both;
    zoom: 1;
    margin-left: 5%;
    margin-right: 5%;
}
#datatable {width: 100%; height: 250px; z-index: 50;}
#plant-list {
    max-height: 300px;
    overflow: scroll;
}

.dataTables_scrollBody {height: 500px;}
.sizeFilter {overflow-x: scroll; max-width: 200px;}

.droplist {
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid #E5E5E5;
}
.droplist:hover {
    background-color: #C4C4C4;
}
.hovertip {
    border-color: white;
    /*background-color: white;*/
    z-index: 100; 
}
.leaflet-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 5px;
}
.checkbox {
    position: absolute;
    right: 25px;
    top: 15px;
    z-index: 9;
    background-color: #fff;
    padding: 5px 10px 10px 10px;
}