body { margin:0; padding:0; font-size:12px; }
label {display: block;}

#cover {
    /*background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;*/
    background-color: #fff;
    opacity: .7;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding-top: 40vh;
}

#title-info {
    position: absolute;
    margin-right: 175px;
    left: 20px;
    top: 0px;
    z-index: 10;
    color: #052945;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#controls{
    position: absolute;
    right: 0;
    width: 175px;
    height: 200px;
    border-radius: 0px 0px 0px 15px;
    background-color: #666;
    opacity: .5;
    z-index: 8;
    padding: 3px;
}
#controls a {color: #666;}
#controls a:hover {text-decoration: none; color: #B0B0B0; opacity: 1;}
#controls button {background-color: #787878; color: #B0B0B0; font-size: 12px; border: 1px solid #999; padding: 1px 4px 0px 4px; opacity: .7;}
#controls button:hover {background-color: #4F4F4F;text-decoration: none; opacity: 1;}

#viewControls {
    display: none;
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 1000;
}
#viewControls a {color: #A2A9C2;}
#viewControls a:hover {text-decoration: none; color: #666; opacity: .6; text-shadow: -1px 0 #D9D8D2, 0 1px #D9D8D2, 1px 0 #D9D8D2, 0 -1px #D9D8D2;}
#viewControls button {background-color: none; color: #666; font-size: 14px; border: none; padding: 0px 4px 0px 4px; opacity: .6;}
#viewControls button:hover {background-color: #D9D8D2; text-decoration: none; border: 1px solid #666; opacity: .6;}

#resetBt {
    position: absolute;
    right: 52px;
    top: 29px;
    z-index: 10;
}
#checkbox {
    position: absolute;
    right: 15px;
    top: 70px;
    z-index: 9;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px 10px 10px 10px;
    width: 145px;
}
#checkbox label {
    font-weight: normal;
    margin: 0px;
}
#checkbox h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.leaflet-control {
    top: 0px;
    right: 5px;
}
.leaflet-control-container {
    right: 0px;
}
.leaflet-left {opacity: 0;}

#map { position:absolute; top:0; height: 90vh; width:100%; background-color: #A2A9C2} /*A3B1E1*/
#datatable_wrapper {
    position: absolute;
    top: 95vh;
    height: 90vh;
    clear: both;
    zoom: 1;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
#datatable {z-index: 50;}
#plant-list {
    max-height: 300px;
    overflow: scroll;
}
#resize {
    position: absolute;
    top: 90vh;
    left: 45%;
    margin: 7px;
    background-color: transparent;
    border: none;
}
#resize button {
    background-color: transparent;
    border: none;
}
#resize a:hover {text-decoration: none;}

#LblTxt {}

.port {color: #052945; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;}
.operating {color: #5D943F}
.proposed {color: #E3D648}

.cityLabel-lg {
    font-size: 13px;
    color: #052945;
    opacity: .6;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.cityLabel-sm {
    font-size: 11px;
    color: #052945;
    opacity: .5;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.sizeFilter {overflow-x: scroll; max-width: 150px;}

.droplist {
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid #E5E5E5;
}
.droplist:hover {
    background-color: #C4C4C4;
}
.hovertip {
    border-color: white;
    /*background-color: white;*/
    z-index: 100; 
}
.leaflet-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 5px;
}


