body { margin:0; padding:0; font-size:12px; }
label {display: block;}

#cover {
    /*background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;*/
    background-color: #fff;
    opacity: .7;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding-top: 40vh;
}

#resetBt {
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 10;
}
#map { position:absolute; top:0; height: 90vh; width:100%; background-color: #A2A9C2} /*A3B1E1*/
#datatable_wrapper {
    position: absolute;
    top: 95vh;
    height: 90vh;
    clear: both;
    zoom: 1;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
#datatable {z-index: 50;}
#plant-list {
    max-height: 300px;
    overflow: scroll;
}
#resize {
    position: absolute;
    top: 90vh;
    left: 45%;
    margin: 7px;
    background-color: transparent;
    border: none;
}
#resize button {
    background-color: transparent;
    border: none;
}
#resize a:hover {text-decoration: none;}

#LblTxt {}

.port {color: #052945;}
.operating {color: #5D943F}
.proposed {color: #E3D648}

.cityLabel-lg {
    font-size: 14px;
    color: #052945;
    opacity: .6;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.cityLabel-sm {
    font-size: 13px;
    color: #052945;
    opacity: .5;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.sizeFilter {overflow-x: scroll; max-width: 150px;}

.droplist {
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid #E5E5E5;
}
.droplist:hover {
    background-color: #C4C4C4;
}
.hovertip {
    border-color: white;
    /*background-color: white;*/
    z-index: 100; 
}
.leaflet-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 5px;
}
.checkbox {
    position: absolute;
    right: 25px;
    top: 60vh;
    z-index: 9;
    background-color: #fff;
    padding: 5px 10px 10px 10px;
}

